.button {
    border-radius: 1rem;
    border: none;
    background-color: $primary;
    color: $black;
    padding: .4rem;
    transition: .2s;

    &:hover {
        background-color: $primary-lighter;
    }

    &--link {
        background-color: unset;
        color: $white;

        &:hover {
            color: $black;
        }
    }

    &--delete {
        border-radius: 12px;
        border: none;
        width: 24px;
        height: 24px;

        &--reversed {
            background-color: $secondary;
            color: $white;
        }
    }
    
    &--submit {
        transition: .2s;
        
        &:hover {
            background-color: $white-lighter;
        }
    }
}
